body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}


h1 {
  font-size: 18px;
  font-weight: 500;
  color: #07173b;
  letter-spacing: 0.3px;
  margin: 0;
}

hr {
  background-color: rgba(141, 145, 154, 0.2);
  height: 1px;
  margin: 0;
  border-width: 0;
}

.body-wrapper {
  margin: 5px 16px;
}

p.block-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #07173b;
  margin: 10px 0px;
}

a.green-button {
  display: block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 26px;
  color: #7cab39;
}

.container.side-by-section {
  margin-top: 36px;
}

.container.side-by-section .form-radio {
  margin-top: 20px;
}

.container.side-by-section .form-radio div input {
  float: right;
  margin: 0;
}

.radio [type="radio"]:checked,
.radio [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.radio [type="radio"]:checked+label,
.radio [type="radio"]:not(:checked)+label {
  position: relative;
  cursor: pointer;
  line-height: 26px;
  display: block;
  font-size: 16px;
  margin-bottom: 36px;
  -webkit-tap-highlight-color: transparent;
}

.radio [type="radio"]:checked+label:before,
.radio [type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 100%;
  background: rgba(175, 181, 196, 0.3);
}

.radio [type="radio"]:checked+label:after,
.radio [type="radio"]:not(:checked)+label:after {
  content: '';
  width: 18px;
  height: 18px;
  background: #7cab39;
  position: absolute;
  top: 7px;
  right: 7px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.radio [type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radio [type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.form-radio .block-counter {
  margin-bottom: 44px;
}

.block-counter {
  display: flex;
  justify-content: space-between;
}

.block-counter.block-opacity {
  opacity: 0.8;
}

.block-counter.block-counter.block-opacity .counter-title {
  font-size: 14px;
}

.block-counter .counter {
  display: flex;
}

.block-counter .counter-title {
  color: #07173b;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.block-counter .counter .btn-dec,
.block-counter .counter .btn-inc {
  text-indent: -9999px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  opacity: 0.8;
}

.block-counter .counter .btn-dec {
  margin-right: 20px;
  background: url(images/btn-dec.png) no-repeat;
}

.block-counter .counter .btn-inc {
  margin-left: 20px;
  background: url(images/btn-inc.png) no-repeat;
}

.block-counter .counter .counter-text {
  width: 56px;
  background-color: rgba(175, 181, 196, 0.18);
  border-radius: 4px;
  color: #0c2152;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.27px;
  line-height: 22px;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.block-counter .counter .counter-text span {
  padding-left: 10px;
}

/* SELECT */


.select-block {
  margin: 30px auto;
  padding: 0;
  transition: padding 200ms ease-in-out 100ms;
  position: relative;
  width: 100%;
}


.select-wrap {
  background-color: rgba(175, 181, 196, 0.18);
  border: none;
  display: block;
  padding: 0;
  height: 46px;
  position: relative;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.select-wrap select {
  font-family: 'Montserrat', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  color: #07173b;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  height: 46px;
  margin: 0;
  outline: 0;
  z-index: 5;
  position: relative;
  width: 100%;
}

.select-wrap select::-ms-expand {
  display: none;
}

.select-icon {
  display: block;
  z-index: 1;
  height: 10px;
  width: 17px;
  position: absolute;
  top: 14px;
  right: 10px;
}

.select-icon svg {
  display: block;
  height: 100%;
  width: 100%;
}


.speed-test-block .block-title {
  margin-top: 28px;
}

.speed-test-block .block-counter {
  margin: 25px 0px 33px;
}

/* checkbox */

.pure-material-checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #07173b;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}


.pure-material-checkbox>input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 0px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}


.pure-material-checkbox>span {
  display: inline-block;
  width: 100%;
  cursor: pointer;

}


.pure-material-checkbox>span::before {
  content: "";
  display: block;
  box-sizing: border-box;
  /* Safari */
  background-color: rgba(175, 181, 196, 0.3);
  border-radius: 2px;
  width: 32px;
  height: 32px;
  float: right;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox>span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: 8px;
  width: 19px;
  height: 10px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}


.pure-material-checkbox>input:checked+span::before,
.pure-material-checkbox>input:indeterminate+span::before {
  border-color: #7cab39;
  background-color: #7cab39;
}

.pure-material-checkbox>input:checked+span::after,
.pure-material-checkbox>input:indeterminate+span::after {
  border-color: #fff;
}

.pure-material-checkbox>input:indeterminate+span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

.select-block.block-opacity {
  opacity: 0.8;
}

.select-block.block-opacity .select-wrap .select-icon img {
  opacity: 0.8;
}

.container.aides-block .block-title {
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 33px;
}

.container.aides-block .type-input input {
  font-family: Montserrat;
  width: 100%;
  height: 46px;
  border-radius: 4px;
  background-color: rgba(175, 181, 196, 0.18);
  border: none;
  font-size: 16px;
  color: #8d919a;
  line-height: 26px;
  font-weight: 400;
  padding-left: 10px;
}

/* LACE readmission Risk page styles */

.parameters-list {
  font-family: Montserrat;
  padding-left: 20px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #07173b;
}

.step-title {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.27px;
  color: #0c2152;
}

.step-1-block .block-title {
  margin-top: 41px;
  margin-bottom: 23px;
}

.step-1-block .radio {
  margin-bottom: 31px;
}

.step-2-block .block-title {
  margin-top: 30px;
  margin-bottom: 23px;
}

.step-3-block .block-title {
  margin-top: 28px;
  margin-bottom: 15px;
}

.step-3-block .checkbox-block {
  margin-bottom: 22px;
}

.step-4-block .block-title {
  margin-bottom: 41px;
  margin-top: 32px;
}


/* ABC scale page */

.range-block .block-title {
  margin-top: 40px;
  margin-bottom: 18px;
}


/* Range slider */

.custom-slider-range {
  position: relative;
  height: 4px;
  border-radius: 4px;
  text-align: left;
  margin: 32px 0 97px 0;
}

.custom-slider-range>div {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 4px;
}

.custom-slider-range>div>.inverse {
  position: absolute;
  right: 0;
  height: 4px;
  border-radius: 4px;
  background-color: #83b43f;
  margin: 0 7px;
}

.custom-slider-range>div>.range {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 4px;
  background-color: #83b43f;
  margin: 0 0px;
}

.custom-slider-range>div>.thumb {
  position: absolute;
  top: -16px;
  z-index: 2;
  height: 34px;
  width: 34px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  border: 1px solid #83b43f;
  border-radius: 50%;
  outline: none;
}

.custom-slider-range>input[type=range] {
  position: absolute;
  pointer-events: all;
  /* Change to none to disable track clicks */
  -webkit-appearance: none;
  z-index: 3;
  height: 4px;
  border-radius: 4px;
  top: -2px;
  width: 100%;
  /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); */
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div.custom-slider-range>input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div.custom-slider-range>input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div.custom-slider-range>input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div.custom-slider-range>input[type=range]:focus {
  outline: none;
}

div.custom-slider-range>input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div.custom-slider-range>input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div.custom-slider-range>input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div.custom-slider-range>input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div.custom-slider-range>input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div.custom-slider-range>input[type=range]::-ms-tooltip {
  display: none;
}

.custom-slider-range>div>.sign {
  opacity: 0;
  position: absolute;
  margin-left: -21px;
  top: -54px;
  z-index: 3;
  background-color: #4a90e2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 55px;
  height: 30px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

.custom-slider-range>div>.sign:after {
  position: absolute;
  content: '';
  left: 13px;
  border-radius: 16px;
  top: 21px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #4a90e2;
}

.custom-slider-range>div>.sign>span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

.custom-slider-range:hover>div>.sign {
  opacity: 1;
}

.custom-slider-range>div.percentages {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #0c2152;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 20px;
  height: auto;
}

.range-block .range-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-block .range-title .range-text {
  color: #07173b;
  font-weight: 400;
  line-height: 26px;
}

.range-block .range-title .range-percentage {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #0c2152;
}

.range-slider:last-child .custom-slider-range {
  margin-bottom: 60px;
}

.block-disclosure {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.26px;
  color: #8d919a;
}